<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <setting propertyKey="@Properties.MinuteStyle" title="@Strings.MinuteStyleTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.MinuteStyleNeedle</listEntry>
      <listEntry value="1">@Strings.MinuteStyleSweep</listEntry>
      <listEntry value="2">@Strings.MinuteStyleSweepTip</listEntry>
    </settingConfig>
  </setting>
</settings>
