<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <setting propertyKey="@Properties.MinuteStyle" title="@Strings.MinuteStyleTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.MinuteStyleNeedle</listEntry>
      <listEntry value="1">@Strings.MinuteStyleSweep</listEntry>
      <listEntry value="2">@Strings.MinuteStyleSweepTip</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.AlwaysOnRevBar" title="@Strings.AlwaysOnRevBarTitle">
    <settingConfig type="boolean"/>
  </setting>
  <setting propertyKey="@Properties.LeftSlotReadout" title="@Strings.LeftSlotTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.ReadoutDate</listEntry>
      <listEntry value="1">@Strings.ReadoutSteps</listEntry>
      <listEntry value="2">@Strings.ReadoutWeather</listEntry>
      <listEntry value="3">@Strings.ReadoutHeartRate</listEntry>
      <listEntry value="4">@Strings.ReadoutBodyBattery</listEntry>
      <listEntry value="5">@Strings.ReadoutSun</listEntry>
      <listEntry value="6">@Strings.ReadoutNotifications</listEntry>
      <listEntry value="7">@Strings.ReadoutBattery</listEntry>
      <listEntry value="8">@Strings.ReadoutEmpty</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.CenterSlotReadout" title="@Strings.CenterSlotTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.ReadoutDate</listEntry>
      <listEntry value="1">@Strings.ReadoutSteps</listEntry>
      <listEntry value="2">@Strings.ReadoutWeather</listEntry>
      <listEntry value="3">@Strings.ReadoutHeartRate</listEntry>
      <listEntry value="4">@Strings.ReadoutBodyBattery</listEntry>
      <listEntry value="5">@Strings.ReadoutSun</listEntry>
      <listEntry value="6">@Strings.ReadoutNotifications</listEntry>
      <listEntry value="7">@Strings.ReadoutBattery</listEntry>
      <listEntry value="8">@Strings.ReadoutEmpty</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.RightSlotReadout" title="@Strings.RightSlotTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.ReadoutDate</listEntry>
      <listEntry value="1">@Strings.ReadoutSteps</listEntry>
      <listEntry value="2">@Strings.ReadoutWeather</listEntry>
      <listEntry value="3">@Strings.ReadoutHeartRate</listEntry>
      <listEntry value="4">@Strings.ReadoutBodyBattery</listEntry>
      <listEntry value="5">@Strings.ReadoutSun</listEntry>
      <listEntry value="6">@Strings.ReadoutNotifications</listEntry>
      <listEntry value="7">@Strings.ReadoutBattery</listEntry>
      <listEntry value="8">@Strings.ReadoutEmpty</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.BottomSlotReadout" title="@Strings.BottomSlotTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.ReadoutDate</listEntry>
      <listEntry value="1">@Strings.ReadoutSteps</listEntry>
      <listEntry value="2">@Strings.ReadoutWeather</listEntry>
      <listEntry value="3">@Strings.ReadoutHeartRate</listEntry>
      <listEntry value="4">@Strings.ReadoutBodyBattery</listEntry>
      <listEntry value="5">@Strings.ReadoutSun</listEntry>
      <listEntry value="6">@Strings.ReadoutNotifications</listEntry>
      <listEntry value="7">@Strings.ReadoutBattery</listEntry>
      <listEntry value="8">@Strings.ReadoutEmpty</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.WeatherTemperature" title="@Strings.WeatherTemperatureTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.WeatherTemperatureFeelsLike</listEntry>
      <listEntry value="1">@Strings.WeatherTemperatureActual</listEntry>
    </settingConfig>
  </setting>
</settings>
